extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug


block main 
    h1(class="mb-4") Thêm mới danh mục sản phẩm 

    +alert-error(5000)

    form(
        action=`${prefixAdmin}/products-catalogue/edit/${data.id}?_method=PATCH`
        method="post"
        enctype="multipart/form-data"
    )

        div(class="form-group")
            label(form="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                name="title"
                id="title"
                value=data.title
                required
            )
        div(class="form-group")
            label(form="parent_id") Danh mục cha
            select(
                name="parent_id"
                id="parent_id"
                class="form-control"
            )
                option(disabled selected) -- Chọn danh mục cha --
                if(records)
                    +select-tree(records, 1, data.parent_id)
                    
        div(class="form-group")
            label(form="desc") Mô tả
            textarea(
                type="text"
                class="form-control textarea-mce"
                name="description"
                id="desc"
            ) #{data.description}
        div(
            class="form-group"
            upload-image
        )
            label(for="thumbnail") Ảnh
            input(
                type="file"
                name="thumbnail"
                class="form-control-file"
                id="thumbnail"
                accept="image/*"
                upload-image-input
            )
            div(class="image-preview-group") 
                img(
                    src= data.thumbnail
                    alt="your-image"
                    upload-image-preview
                    class="image-preview"
                )
                span(class="close-image-preview") X

        div(class="form-group")
            label(for="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
                min="1"
                value=data.position
            )

        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                name="status"
                id="statusActive"
                value="active"
                checked=(data.status == "active" ? true : false)
            )
            label(form="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                name="status"
                id="statusInActive"
                value="inactive"
                checked=(data.status == "inactive" ? true : false)
            )
            label(form="statusInActive" class="form-check-label") Dừng hoạt động

        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật