.sider 
	.inner-menu 
		ul 
			li 
				a(href=`${prefixAdmin}/dashboard`) General 
			li 
				a(href=`${prefixAdmin}/products-catalogue`) Product Catalogue
			li 
				a(href=`${prefixAdmin}/products`) Product List
			li 
				a(href=`${prefixAdmin}/roles`) Permission Group
			li 
				a(href=`${prefixAdmin}/roles/permissions`) Permissions